VITE_API_BASE_URL=https://tracker-backend-qben.onrender.com
VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=tracker-a27af.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tracker-a27af
VITE_FIREBASE_STORAGE_BUCKET=tracker-a27af.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=212199400489
VITE_FIREBASE_APP_ID=1:212199400489:web:6583e9435f18617f192838
VITE_FIREBASE_MEASUREMENT_ID=G-61GDBGL2F6
VITE_FIREBASE_VAPID_KEY=BBdOYk64h_iZLQSPNu5TikSKjuH4nCfefTMgnvC1iDbxFh_WsRUyYsbPxV8fpNg_cpxtWLbvrHuJoM2UYtpDftc
